#🤫 segredos 🐱‍👤 (variáveis de ambiente)
.env

#para adcionar novos comandos de /
addCommands.js

#coisas do nodejs
node_modules
package-lock.json

#coisas do VScode
.vscode

#coisas aleatórias da Louie
examples
old